.body {
    /* height:600px; */
    width: 600px;
}


.card {
    font-size: 100px;
}

.clickable {
    cursor: pointer;
}

.deck {
    display: flex;
    flex-direction: row;
}


.top-cards {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reserved-piles {
    display: flex;
    flex-direction: row;
}

.stack-piles{
    margin: 10px;
    font-size: 85px;
    display: flex;
    flex-direction: row;
    height: 400px;
    border-radius: 5px;
    width: 140px ;
}

.stack-pile {
    position: relative;
    margin-right: 18px;
}

.adjustable-card {
    margin-top: -30px;
}